

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">About Us <small>Where we've been and now</small></h1>
      <ol class="breadcrumb">
        <li><a href=".">Home</a></li>
        <li class="active">History</li>
        <li><a href="#house">House</a></li>
        <li><a href="#acalades">Acalades</a></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7" id="about">
      <h1>Chapter History</h1>
      <p>Delta Chi is growing rapidly with more than 135 seperate chapters internationally and more than 107,000 collegiate members. Noted as a non-hazing fraternity and the first social fraternity to abolish hell week (hazing during initation week). Our four main values (friendship, character, justice, and education) coupled with our abolishment of hazing make us one of the stongest brotherhoods on campus and around the world.</p>
      <p>Delta Chi was created to help law students at Cornell University band together to prevent abuse from campus authority, but have changed both reason and rhyme. Now Delta Chi focuses on helping university men excel and the community flourish. We've since spread accross the United States and into Cananda making us one of the largest fraternities in the world. We take pride in our collegiate pressence along with our support of the V Foundation For Cancer Research, our main philanthropic affiliation.</p>
    
      <h1>Involvement</h1>
      <p>We believe that having a group with diverse perspectives makes us all more well-rounded and promotes positive social change. Our fraternity is known on campus for being a house of gentlemen who make an effort to get involved on campus. We have a tradition of having 3 Summer Welcome Leaders each year (only 36 are selected), Missouri Student Association leaders, etc. In 2012, MU's student president and Homecoming King was a Delta Chi. We currently have 2 members on the student government executive board.</p>
      <p>Delta Chi annually participates in both Homecoming and Greek Week. We are currently paired with the women of Delta Delta Delta and the men of Phi Gamma Delta. Our house participates in GAMMA (Greeks Advocating the Mature Management of Alcohol), RAMS (Rockin' Against Multiple Sclerosis), Mizzou Dance Marathon campus-wide philanthropies. This year we place 2nd in GAMMA, 1st overall for RAMS and we are currently comfortably in the top spot for the Miracle Cup competition for Dance Marathon. </p>

      <h1>Philanthropy</h1>
      <p>We participate in 3-5 sorority philanthropies per semester. This semester we are doing Pi Beta Phi's Big Man on Court, Kappa Delta's Capture the Flag and Chi Omega's Trivia Night. We also won Alpha Chi Omega's dodgeball tournament this past Fall and Kappa Alpha Theta's flag football tournament two years in a row. </p>
      <p>Our chapter's philanthropy, Delta Chi's "For the Cure Week" will be in early May. Brothers will be fundraising throughout the week by barbecuing on Lowry Mall, facilitating penny wars between PHA sororities and canning at local grocery stores, bars, etc. Our goal this year is to break $10,000. All money raised goes to our national philanthropy, The V Foundation for Cancer Research.</p>
      <h1>Academics</h1>
      <p>Consistently we perform above the all-male university average in GPA rankings. Last semester, we placed 11th overall out of 35 fraternities and 3rd out of 29 in new members.</p>
      <p>We have three $500 "Men of Excellence" scholarships we will be extending for high school seniors. The application is sent out to most Missouri high schools and many many of our potential new members.</p>
    
    </div>
    <div class="col-sm-5">
      <img class="img-responsive" src="https://farm8.staticflickr.com/7113/13550769004_a20cf3216c.jpg">
      <img class="img-responsive" src="https://farm4.staticflickr.com/3819/13550769954_226228bec2.jpg">
      <img class="img-responsive" src="https://farm8.staticflickr.com/7187/13550772934_636bc3fcce.jpg">
      <img class="img-responsive" src="https://farm3.staticflickr.com/2905/13550450735_59fa3b7584.jpg">
      
    </div>
  </div>

  <div class="row" id="acalades">
    <div class="col-sm-12">
      <!--<h2 id="exec"><img src="http://upload.wikimedia.org/wikipedia/en/b/b2/Delta_Chi_Coat_of_Arms.png" height="100%" width="50"> Acalades</h2>--> 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
    </div>
  </div>
</div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
