

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">About Us <small>Where we've been and now</small></h1>
          <ol class="breadcrumb">
            <li><a href=".">Home</a></li>
            <li class="active">About</li>
          </ol>
        </div>

      </div>

      <div class="row">

        <div class="col-md-6">
          <img class="img-responsive" src="http://placehold.it/750x450">
        </div>
        <div class="col-md-6">
          <h2>History of Delta Chi</h2>
          <p>More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History More History </p>
          <p>History History History History History History History History History History History History History History History History History History History History History History History History History History History History History History History History History History History History History History History History History </p>
        </div>

      </div>

      <!-- Team Member Profiles -->

      <div class="row">

        <div class="col-lg-12">
          <h2 class="page-header">Our Executive Board</h2>
        </div>

        <div class="col-sm-4">
        	<img class="img-responsive" src="http://placehold.it/750x450">
            <h3>Alex Dyer <small>President <span class="label label-danger">A</span></small></h3>
            <p>A senior biology major student.</p>
            
        </div>

        <div class="col-sm-4">
        	<img class="img-responsive" src="http://placehold.it/750x450">
            <h3>Chris Slevin <small>Vice President <span class="label label-danger">B</span></small></h3>
            <p>Description</p>
            
        </div>

        <div class="col-sm-4">
        	<img class="img-responsive" src="http://placehold.it/750x450">
            <h3>Javier De La Torre <small>Secretary <span class="label label-danger">C</span></small></h3>
            <p>Description</p>
            
        </div>

        <div class="col-sm-4">
        	<img class="img-responsive" src="http://placehold.it/750x450">
            <h3>Ethan Colbert <small>Treasurer <span class="label label-danger">D</span></small></h3>
            <p>Description</p>
            
        </div>

        <div class="col-sm-4">
        	<img class="img-responsive" src="http://placehold.it/750x450">
            <h3>Brock Scoville <small>Alumni <span class="label label-danger">E</span></small></h3>
            <p>Description</p>
            
        </div>

        <div class="col-sm-4">
        	<img class="img-responsive" src="http://placehold.it/750x450">
            <h3>Max Conger <small>Risk Manager <span class="label label-danger">F</span></small></h3>
            <p>Description</p>
            
        </div>

      </div>

      <!-- Our Customers -->
      <br>
      <div class="row">
        <div class="col-lg-12">
          <h2>How To Contact Us</h2>
               <hr>
      <p><h4>Address: </h><small>501 Turner Ave, University of Missouri, Columbia, MO 65201 ‎</small><a class="btn btn-primary" href="https://maps.google.com/maps?ie=UTF-8&layer=c&z=17&iwloc=A&sll=38.943839,-92.332061&cbp=13,359.6,0,0,0&cbll=38.943655,-92.332060&q=501+turner+avenue&ei=TrhcUseUAsGSyQHM54GgBg&ved=0CC8QxB0wAA">Google Maps</a></h4></p>
      <p>
      Feel free to contact any executive members above then drop by! We would love to see you.
      </p>
      <p>
      </p>

 
          <h2 class="page-header">Our Committee Heads</h2>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
          <h4>GL Richardson <small>Merchandise</small></h4>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
          <h4>Andrew Scherping <small>Brotherhood</small></h4>

        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
          <h4>Brendan Vogel <small>Sports</small></h4>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
          <h4>Name Here <small>Merchandise</small></h4>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
          <h4>GL Richardson <small>Merchandise</small></h4>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="http://placehold.it/500x300">
          <h4>GL Richardson <small>Merchandise</small></h4>
        </div>

      </div>

    </div><!-- /.container -->

    <div class="container">

      <hr>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
