

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">About Us <small>Where we've been and now</small></h1>
      <ol class="breadcrumb">
        <li><a href=".">Home</a></li>
        <li class="active">History</li>
        <li><a href="#house">House</a></li>
        <li><a href="#acalades">Acalades</a></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" id="about">
      <h2>Chapter History</h2>
      <p>Delta Chi is growing rapidly with more than 135 seperate chapters internationally and more than 107,000 collegiate members. Noted as a non-hazing fraternity and the first social fraternity to abolish hell week (hazing during initation week). Our four main values (friendship, character, justice, and education) coupled with our abolishment of hazing make us one of the stongest brotherhoods on campus and around the world.</p>
      <p>Delta Chi was created to help law students at Cornell University band together to prevent abuse from campus authority, but have changed both reason and rhyme. Now Delta Chi focuses on helping university men excel and the community flourish. We've since spread accross the United States and into Cananda making us one of the largest fraternities in the world. We take pride in our collegiate pressence along with our support of the V Foundation For Cancer Research, our main philanthropic affiliation.</p>
    </div>
    <div class="col-sm-6">
        <div class="well well-sm">
        </div>
    </div>
  </div>
  <div class="row" id="house">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
      <h2>The House</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img src="http://3.bp.blogspot.com/-CpxmJu3Km3k/UMPhfSoHaQI/AAAAAAAAF0Y/H5iQtXUZJuQ/s1600/Fire%2Blion.jpg" height="400" width="100%">
    </div>

    <div class="col-sm-6">
      
      <p>Delta Chi is growing rapidly with more than 135 seperate chapters internationally and more than 107,000 collegiate members. Noted as a non-hazing fraternity and the first social fraternity to abolish hell week (hazing during initation week). Our four main values (friendship, character, justice, and education) coupled with our abolishment of hazing make us one of the stongest brotherhoods on campus and around the world.</p>
      <p>Delta Chi was created to help law students at Cornell University band together to prevent abuse from campus authority, but have changed both reason and rhyme. Now Delta Chi focuses on helping university men excel and the community flourish. We've since spread accross the United States and into Cananda making us one of the largest fraternities in the world. We take pride in our collegiate pressence along with our support of the V Foundation For Cancer Research, our main philanthropic affiliation.</p>
    </div>
  </div>

  <div class="row" id="acalades">
    <div class="col-sm-12">
      <h2 id="exec"><img src="http://upload.wikimedia.org/wikipedia/en/b/b2/Delta_Chi_Coat_of_Arms.png" height="100%" width="50"> Acalades</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
    </div>
  </div>
</div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
