

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">About Us <small>Where we've been and now</small></h1>
      <ol class="breadcrumb">
        <li><a href=".">Home</a></li>
        <li class="active">History</li>
        <li><a href="#awa">Honors and awards</a></li>
        <li><a href="#phi">Philanthropy</a></li>
        <li><a href="#soc">Social</a></li>

      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8" id="about">
      <h1>Chapter History</h1>
    
      <p>As one of the oldest Delta Chi Fraternity chapters west of the Mississippi and the oldest in the state of Missouri, the University of Missouri chapter has a storied history that spans over half a century back to our chapter founding on April 21, 1951.</p> 
      <p>The Fraternity that was founded at Cornell University in Ithaca, New York, with the principles of the promotion of friendship and brotherhood, the development of character for young collegiate men, the advancement of justice, and to provide assistance for young collegiate men in the acquisition of their education took root in the hearts of the 26 young undergraduate men who today are recognized as the founders of the University of Missouri Chapter:</p>
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <li>Joseph Lloyd Bevirt 
            <li>Thomas Francis Bresnehen, Jr.
            <li>Kenneth A. Dudley 
            <li>C. L. Dufner 
            <li>Joseph G. Eastin 
            <li>James Charles Ferrigno 
            <li>Bernard Lewis Haley 
            <li>Samuel Emmett Hargadine
            <li>Charles Wesley Jackson
            <li>John Robert “J.R.” McDonald  
            <li>Edwin Meyer
            <li>William Roy Morris
            <li>Louis Floyd Murray, Jr. 
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <li>George L. Nitchy
            <li>Benjamin F. Pyle
            <li>William Daggs Raine
            <li>H. Ray Reynolds 
            <li>Arthur H. Schenk, Jr. 
            <li>Raymond C. Sheehan
            <li>Philip Milton Short
            <li>George J. Spraitzer
            <li>L. H. Teasley 
            <li>Thomas E. Thorton
            <li>Lynn VanMatre 
            <li>Gerard Joseph Voelkers
            <li>Gene Perry Wells 
          </ul>
        </div>
      </div>
      
      <br>
      <p>The foundation for the brotherhood those 26 men started for the Missouri Chapter today remains uncompromised and stronger than ever with an alumni network of almost 1,000 alumni and an active chapter membership of over 100 brothers.</p>
      <p>Among the Missouri Chapter’s notable and distinguished alumni include Delta Chi’s National President the late and Honorable John Nick Gray; the longest serving Executive Director in Delta Chi History, the Honorable Ray Galbreth; the late Missouri Football Tiger Defensive End Jim “Cornbread” Martin, who’s play on the defensive line earned him Big 8 All Conference and All-American honors; MSNBC Executive Producer David Foster; Missouri Wrestling teammates Jim Jones and Don Godi, who are attributed as being the rebirth of the Missouri Wrestling program and ended their careers as varsity lettermen; former Missouri Student Association President Xavier Billingsley.  For a full list of the Delta Chi Fraternity’s distinguished and honored alumni, click here.</p>
      <p>The Missouri Chapter is currently residing in its fourth chapter house at 501 Turner Avenue. The original chapter house, a two-story brick structure, at 1415 University Avenue was home to the Delta Chi Fraternity from 1951 to 1966. It was in this home that time-treasured traditions of the Missouri chapter began such as the President’s Gavel pass ceremony and the Missouri Chapter Sweetheart position was created. Each year since 1951, young Sorority women will apply to be the Delta Chi Fraternity — Missouri Chapter Sweetheart. After a brief hiatus, the Delta Chi Fraternity moved into our second chapter house at 500 E. Rollins Street. In the Rollins Street house, Delta Chi’s invite-only Halloween parties became legendary and continue to be one of the best events of the fall semester.  The Missouri Chapter’s third chapter house from 1988 to 2009 was at 111 East Steward Road. The Missouri Chapter moved into the current structure at 501 Turner Avenue in 2011, where it has seen the chapter grow to over 100 members for the first time in chapter history; the election of one of our members as Interfraternity Council President, another first in chapter history.</p>
      <p>Throughout the Missouri Chapter’s storied history, young collegiate undergraduates have become men and where men have become leaders. Today, the Missouri Chapter boasts an extensive resume of campus involvement: the most Summer Welcome Leaders (New Student Orientation Leaders) of any Fraternity, Tour Team Members, Missouri Student Foundation, Homecoming Steering Committee, GAMMA Steering Committee, just to name a few. It is certainly an exciting time to be a Delta Chi at the University of Missouri as the members look forward to writing the next portion of the chapter’s history.</p>
      

      <h1 class="page-header" id="awa">Honors and Awards</h1>

       <h4>Delta Chi International Honors & Awards:</h4>
       
    <ul>
      <li>Outstanding Chapter Recruitment – Delta Chi Region IV
2009, 2010, 2011, 2012, 2013
      <li>Award of Excellence, Red Division (2011-2012)
    </ul>

      <h4>Campus Awards:</h4>
      Rockin’ Against Multiple Sclerosis: 
      <ul>
        <li>1st Overall (2nd Rock-It Competition) – 2014
        <li>3rd Overall (2nd Rock-It Competition) – 2013
      </ul>
      
      <p>GAMMA: 2nd Place Overall – 2013</p>

      <p>Mizzou Dance Marathon – Miracle Cup Winner, 2014</p>

      <p>IFC Chapter of Excellence Award, 2013</p>
      <p>Overall IFC Excellence Award</p>

      Kappa Alpha Theta’s “Quarterbacks & Flapjacks” Philanthropy 
      <ul>
        <li>1st Place, 2012
        <li>1st Place, 2013
      </ul>

      Alpha Chi Omega’s “Dodgin’ Domestic Violence” Philanthropy 
      <ul>
        <li>1st Place, 2013 
      </ul>

      Pi Beta Pi’s “Big Man on Court” Philanthropy
      <ul>
        <li>1st Place, 2013
      </ul>

      Kappa Delta’s “Shamrock Week”
      <ul>
        <li>1st Place, 2014
      </ul>
      
      Homecoming 
      <ul>
        <li>1st Place Overall, 2009 
        <li>3rd Place Overall, 2010
      </ul>

      Greek Week
        <ul>
          <li>4th Place Overall, 2012
          <li>GW Volleyball Champions, 2014
          <li>GW Soccer 2nd Place, 2014
        </ul>

    Catalyst Award, given to advocates and allies of the LGBTQ Community
    <ul>
      <li>2011 Recipient 
      </ul>

   

      <h1 class="page-header" id="phi">Philanthropy</h1>
      <p>The Missouri Chapter’s annual “Delta Chi For the Cure Week” philanthropy takes place in the closing weeks of the spring semester. The Internal Philanthropy committee chairmen plan all year to fundraise for the Delta Chi national philanthropy, The V Foundation for Cancer Research. The Missouri Chapter is proud to be a consistent $5,000 contributor for The V Foundation, but always hopes to increase our fundraising totals into the 10,000 range and above.</p> 
      <p>The V Foundation for Cancer Research, formed by ESPN and former NC State basketball coach Jim Valvano in 1993, has awarded more than $115 million to more than 120 facilities nationwide and proudly awards 100% of direct donations and net event proceeds to cancer research. After being diagnosed with cancer at the young age of 46, Jim Valvano dreamed of finding cures for cancer. Jim’s dream of finding a cure for cancer is one shared by millions. Although we have not yet achieved this goal, every day we get a little bit closer and will continue to honor his inspiring words, “Don’t Give Up . . . Don’t Ever Give Up!”</p>
      <p>During “For The Cure Week”, Delta Chis camp out on Lowry Mall in the center of campus and facilitate various fundraising programming such as a daily barbecue, penny wars and raffles. Past FTC Weeks have concluded with basketball tournaments, where members host and coach a bracket full of sorority competition. Our chapter is excited to announce that we will be holding our first annual FTC 5K race, beginning in spring of 2014. The FTC 5K will be held on Saturday, May 10th. To register, look out for a sign-up form on our Facebook page, “Delta Chi, Missouri Chapter.”</p>
      <p>In the fall, Delta Chi partners up with our local philanthropy, Ellis Fischel Cancer Center. In past semesters, brothers have also worked with with Second Chance, Special Olympics Missouri, Columbia Parks & Recreation and the Food Bank for Central and Northeast Missouri, to name a few. The Missouri Chapter always looks forward to serving new organizations and causes to instill in members the importance of giving back to the community.</p> 

      
      <h1 class="page-header" id="soc">Social</h1>
      <p>One of the top reasons why young men join a Fraternity is for the social experience and being a Delta Chi at the University of Missouri does not disappoint. </p>
      <p>From our exclusive invite-only date parties to socials with various sororities of Mizzou to Football Game Day tailgates, to our annual fall semi-formal and spring formal, and Mom’s and Dad’s Weekends, brothers enjoy the social experience year after year. Between social events sponsored by Delta Chi and invitations to attend various sorority date parties, Delta Chis have a very busy social schedule. Several brothers will tell you the social aspect of being a Delta Chi has enhanced their fraternity and their collegiate experience. </p>
      <p>Delta Chi hosts many different themed invite-only date parties throughout the year and invitations are always highly sought after from sorority women on campus. This gives brothers a chance to invite a guest or two and spend the evening socializing with their guests and their brothers. Date parties from the past have included 80s in Aspen, Take Me Out to the Ballgame, Halloween, a Christmas themed social called the Yuletide Ball, and Draft-A-Date (military themed social in honor of Veterans’ Day). </p> 
      <p>In addition to date parties, Delta Chi also hosts several socials with sororities at MU. A yearly social, Chi-ribbean, with the women of Chi Omega is always a highlight as it kicks off the fall semester and allows both the new members from Chi Omega and Delta Chi a chance to meet and experience their first college social. Other annual socials hosted by Delta Chi include St. Fratty’s Day (St. Patrick’s Day) and our Homecoming and Greek Week marriage parties with the sorority in our pairing.</p>
      <p>Before the Tigers kick-off at Faurot Field, one of the best spots to be in all of Columbia is the Delta Chi Fraternity house. Between the music, the good food provided generously by our alumni and their wives, the great atmosphere of friends and family, everyone leaves ready to go cheer our Tigers on to victory. You’ve never experience a football tailgate, until you have experienced a Delta Chi Football tailgate! <p>
      <p>During the fall semester, every Delta Chi anxiously awaits the arrival of semi-formal, known as the Red and Buff Ball. Each year for Red and Buff, the brothers and their guests go to various destinations outside of Columbia for a relaxing weekend away. Whether at the Lake of the Ozarks, Saint Louis, or Kansas City, the Fraternity Gentlemen of Delta Chi always have a good time during semi-formal, spending the night dancing with their dates. </p>
      <p>The hottest ticket in spring semester is a ticket to Delta Chi’s White Carnation Formal. This year the brothers and their guests will be attending the Kentucky Derby at historic Churchill Downs and be staying at an authentic antebellum hotel, The Campbell House. Formals of past years have been in Memphis, New Orleans, Kansas City, and the Lake of the Ozarks. Regardless of the destination, Delta Chi’s White Carnation Formal is one of the most talked about events throughout campus.</p>
      <p>Family members are also involved in the social experience of Delta Chi. Our annual Dad’s Weekend is held in the fall and allows for our fathers to meet, attend a football game together. Past activities for Dad’s Weekend have included a live comedy show at Déjà Vu, attending concerts at the Blue Note and a meeting of the Father’s Council of the Delta Chi Parent’s Organization. </p>
      <p>Don’t worry – we would never forget about the Mothers of Delta Chi members. Each spring, mothers journey from across the country to attend the Mom’s Weekend. Past events have included bowling at a local bowling alley, a fun and friendly trivia game called “Momma’s Boy,” visiting a local winery, and a meeting of the Mother’s Council of the Delta Chi Parent’s Organization. </p>
      <p>Delta Chi values leadership and academic success as its top priority, but its members also know how to reward the product of countless hours of effort, hence the extensive social calendar. </p>
    </div>  
    <div class="col-sm-4">


    <img class="img" width="100%" src="https://farm8.staticflickr.com/7113/13550769004_a20cf3216c.jpg">

     <img class="img-responsive" src="https://farm4.staticflickr.com/3819/13550769954_226228bec2.jpg">
      <img class="img-responsive" src="https://farm8.staticflickr.com/7187/13550772934_636bc3fcce.jpg">
      <img class="img-responsive" src="https://farm3.staticflickr.com/2905/13550450735_59fa3b7584.jpg">
      </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
    </div>
  </div>
</div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
