

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Delta Chi Alumni <small>Welcome Home</small></h1>
          <ol class="breadcrumb">
            <li><a href=".">Home</a></li>
            <li class="active">Alumni Home</li>
          </ol>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-8">

          <h1>We're Preparing For Homecoming, Are You?</h1>
          <hr>
          <a href="blog-post.html"><img src="http://4.bp.blogspot.com/_kZy8BV4_9DQ/TLdCGME696I/AAAAAAAAAcQ/RxINbMWrS0w/s1600/Picture+1.png" class="img-responsive"></a>
          <hr>
          <p>Come join us or homecoming and stuff and stuff and stuff and stuff and stuff and stuff and stuff and stuff and stuff and stuff and stuff and stuff and stuff and stuff and stuff and stuff and stuff and stuff and stuff. Yeah!</p>
          <a class="btn btn-primary" href="blog-post.html">Read More <i class="icon-angle-right"></i></a>

          <hr>

          <h1>Alumni, Update Your Info!</h1>
          <hr>
          <center><a href="blog-post.html"><img src="http://www.bren.ucsb.edu/images/3_alumni_update_info.jpg" class="img-responsive"></a></center>
          <hr>
          <p>We need your info. We're building a network for alumni, current members, and future members! We want to know your interests and what you've done. Update your info. Update your info. Update your info. Update your info. Update your info. Update your info. Update your info. Update your info.</p>
          <a class="btn btn-primary" href="blog-post.html">Read More <i class="icon-angle-right"></i></a>
        </div>

        <div class="col-lg-4">
          <div class="well">
            <h4>Search For Alumni</h4>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="icon-search"</i></button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /well -->
          
          <div class="well">
            <h4>Men Of Excellence</h4>
              <div class="row">
                <div class="col-lg-6">
                  <center><a href="http://www.missourideltachi.com/resources/dx.jpg"><img src="http://www.missourideltachi.com/resources/dx.jpg" class="img-responsive"></a></center>
                </div>
                <div class="col-lg-6">
                  <ul class="list-stylized">
                    <li><a href="#alien-abductions">Bio and Comp Sci Major</a></li>
                    <li><a href="#business-casual">Traveled to France</a></li>
                    <li><a href="#robots">Display An Alumni At Random</a></li>
                  </ul>
                </div>
              </div>
          </div><!-- /well -->


          <div class="well">
            <h4>Make A Donation<small> Every bit counts</small></h4>
            <p>Anything you contribute helps us towards getting an improved house. A house that we all can be proud of. If you enjoy this site and would like to become a donator we have two types of donation routes. Click here to explore choices!
            </p>
            <div class="input-group">
              <a href="donations.html"><button class="btn btn-large btn-danger" type="button">Donate Today</button></a>
            
            </div><!-- /input-group -->
          </div><!-- /well -->

          <div class="well">
            <div class="panel panel-danger">
            <div class="panel-heading">
              <h3>Events</h3>
            </div>
            <div class="panel-body">
              <ul>
                <li>Event 1
                <li>Event 2
                <li>Event 3
                <li>Event 4
                <li>Event 5
              </ul> 
            </div>
          </div>
          </div><!-- /well -->
        </div>
      </div>

    </div><!-- /.container -->

    <div class="container">

      <hr>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
