    <div class="container">
      
      <div class="row">
      
        <div class="col-lg-12">
          <h1 class="page-header">Contact <small>We'd Love to Hear From You!</small></h1>
          <ol class="breadcrumb">
            <li><a href=".">Home</a></li>
            <li class="active">Contact</li>
          </ol>
        </div>
        
        <div class="col-lg-12">
          <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
          <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Delta+Chi,+Turner+Avenue,+Columbia,+MO&amp;aq=0&amp;oq=delta&amp;sll=38.943748,-92.331945&amp;sspn=0.005007,0.009173&amp;t=h&amp;ie=UTF8&amp;hq=Delta+Chi,&amp;hnear=Turner+Ave,+Columbia,+Boone,+Missouri&amp;ll=38.943817,-92.332076&amp;spn=0.001033,0.001143&amp;z=19&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Delta+Chi,+Turner+Avenue,+Columbia,+MO&amp;aq=0&amp;oq=delta&amp;sll=38.943748,-92.331945&amp;sspn=0.005007,0.009173&amp;t=h&amp;ie=UTF8&amp;hq=Delta+Chi,&amp;hnear=Turner+Ave,+Columbia,+Boone,+Missouri&amp;ll=38.943817,-92.332076&amp;spn=0.001033,0.001143&amp;z=19" style="color:#0000FF;text-align:left">View Larger Map</a></small>

      </div><!-- /.row -->
      
      <div class="row">

        <div class="col-sm-8">
        	<br>
			<div id="wufoo-mfyd2u109to2qq">
			Fill out my <a href="https://missourideltachi.wufoo.com/forms/mfyd2u109to2qq">online form</a>.
			</div>
			<script type="text/javascript">var mfyd2u109to2qq;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'missourideltachi', 
			'formHash':'mfyd2u109to2qq', 
			'autoResize':true,
			'height':'577',
			'async':true,
			'host':'wufoo.com',
			'header':'show', 
			'ssl':true};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { mfyd2u109to2qq = new WufooForm();mfyd2u109to2qq.initialize(options);mfyd2u109to2qq.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');
			</script>

        </div>

        <div class="col-sm-4">
          <h3>Delta Chi Fraternity</h3>
          <p>
            501 Turner Avenue<br>
            Columbia, Missouri 65201<br>
          </p>
          <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (555) 555-5555</p>
          <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a href="mailto:feedback@startbootstrap.com">fratstar@gmail.com</a></p>
          
          <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link"><a href="#facebook-page" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
            <li class="tooltip-social linkedin-link"><a href="#linkedin-company-page" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li class="tooltip-social google-plus-link"><a href="#google-plus-page" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
          </ul>
        </div>

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="container">

      <hr>

