    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Donations <small> Everything goes towards financing a new house</small></h1>
          <ol class="breadcrumb">
            <li><a href=".">Home</a></li>
            <li><a href="alumni.html">Alumni</a></li>
            <li class="active">Pricing Table</li>
          </ol>
        </div>

      </div>

      <div class="container">

      <div class="row well">
        <div class="col-lg-8 col-md-8">
          <h4><center>Don't want a monthly donation plan? Click here for single donations!</center></h4>
        </div>
        <div class="col-lg-3 col-md-1">
          <a class="btn-success btn-lg btn-primary pull-right" href="alumni.html">Single Time Donation!</a>
        </div>
      </div><!-- /.row -->

    </div><!-- /.container -->
        <hr>

      <div class="row">

        <div class="col-sm-3">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <strong>Basic <span class="label label-danger">Man Of The Hour!</span></strong>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">$5<span class="price-cents"></span><span class="price-month">mo.</span></h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Donator certificate</li>
              <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a></li>
            </ul>
          </div>          
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <strong>Plus <span class="label label-warning">Frat Star!</span></strong>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">$10<span class="price-cents"></span><span class="price-month">mo.</span></h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Donator Certificate</li>
              <li class="list-group-item"><a href="http://i.ebayimg.com/t/Delta-Chi-AMERICAN-APPAREL-All-American-USA-Flag-Frat-D-Chi-Letters-T-Shirt-/00/s/MTAwMVgxMDAx/$(KGrHqZ,!hgF!yT3+pS,BQOJV-288Q~~60_57.JPG">Delta Chi T-Shirt</a></li>
              <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a></li>
            </ul>
          </div>          
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <strong>Premium <span class="label label-success">Captain Schermerhorn</span></strong>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">$20<span class="price-cents"></span><span class="price-month">mo.</span></h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Donator Certificate</li>
              <li class="list-group-item"><a href="http://i.ebayimg.com/t/Delta-Chi-AMERICAN-APPAREL-All-American-USA-Flag-Frat-D-Chi-Letters-T-Shirt-/00/s/MTAwMVgxMDAx/$(KGrHqZ,!hgF!yT3+pS,BQOJV-288Q~~60_57.JPG">Delta Chi T-Shirt</a></li>
              <li class="list-group-item">Engraved Delta Chi Plaque</li>
              <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a></li>
            </ul>
          </div>          
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <strong>Ultimate <span class="label label-info">"A"</span></strong>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">$40<span class="price-cents"></span><span class="price-month"></span></h3>
            </div>
            <ul class="list-group">
               <li class="list-group-item">Donator Certificate</li>
              <li class="list-group-item"><a href="http://i.ebayimg.com/t/Delta-Chi-AMERICAN-APPAREL-All-American-USA-Flag-Frat-D-Chi-Letters-T-Shirt-/00/s/MTAwMVgxMDAx/$(KGrHqZ,!hgF!yT3+pS,BQOJV-288Q~~60_57.JPG">Delta Chi T-Shirt</a></li>
              <li class="list-group-item">Engraved Delta Chi Plaque</li>
              <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a></li>
            </ul>
          </div>          
        </div>

      </div>

    </div><!-- /.container -->

    <div class="container">

      <hr>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
