<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Donations</h1>
      <ol class="breadcrumb">
        <li><a href=".">Home</a></li>
        <li><a href="alumni.html">Alumni</a></li>
        <li class="active">Pricing Table</li>
      </ol>
    </div>

  </div>

  <div class="container">

    <div class="row well">
      <div class="col-sm-8">
        <h4>We are setting up our donation system. In the mean time, filling out this form and showing your support in the chapter would mean the world to us. Thanks!<br>
          <br>April 17, 2014</h4>
      </div>
      <div class="col-sm-4">
        
      </div><!-- /.row -->
    </div>
  </div>  
</div>
<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/modern-business.js"></script>
