

<!-- /Full Page Image Header Area -->
<div class="edge-container">
  <div class="row">
    <div class="col-sm-12">
      <img class="img" width="100%" src="https://farm3.staticflickr.com/2931/13910405701_331b4e69a9_o.png"> 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <div id="about" class="intro">
        <div class="row">
          <div class="col-sm-12 text-center" id="name">
            <br><br><br>
            <h1><img src="https://farm8.staticflickr.com/7156/13933642383_5359134825.jpg" height="36" width="36">  Delta Chi Fraternity  <image src="https://farm8.staticflickr.com/7156/13933642383_5359134825.jpg" height="36" width="36"></h1>
            <h3>Missouri Chapter</h3>
            <hr>
            <i><p class="lead">Redefining the social fraternity</p></i>
            <hr>
          </div>
        </div>
      </div>
      <!-- /Intro -->
          <p>The Missouri Chapter of Delta Chi is redefining the social fraternity experience. Our brothers excel in campus leadership and involvement and have made a name for themselves in almost every prestigious organization available to undergraduates at the University. Our commitment to excellence and integrity of character was recently recognized, when IFC awarded the chapter the Overall Chapter Excellence award for best overall Greek chapter in 2013. From creating an award-winning Associate Member program based on mutual respect between actives & new members to having one of the only member-exclusive a cappella groups in the nation, The Delta Chi Fraternity offers a diverse and well-rounded group of gentlemen.</p>

          <p>Delta Chi was awarded the IFC Overall Chapter of Excellence award, for the best overall Greek chapter in 2013. The Chapter has also brought in numerous awards from the Delta Chi National Headquarters for recruitment, philanthropy and overall excellence in Region IV of Delta Chi chapters. Academically, the chapter is consistently above the All-University average and has been awarded the Chancellor’s Award for Academic Excellence the past two semesters. </p>

          <p>We appreciate you taking time to visit our website. If you are a potential new member hoping to join our brotherhood, please direct your attention to the Recruitment tab and fill out our interest form. </p>
    <div class="col-sm-2">
    </div> <!-- container -->
  </div>
</div>


    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling - Put in a custom JavaScript file to clean this up -->

    <script>
    $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
          || location.hostname == this.hostname) {

          var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
    });
    </script>
  </body>
  </html>
