<!-- Page Content -->
  <div class="container" id="involvement">
    
    <div class="row">
    
      <div class="col-md-12">
        <h1 class="page-header">Involvement <small>What We Do</small></h1>
        <ol class="breadcrumb">
          <li><a href=".">Home</a></li>
          <li class="active">Involvement</li>
        </ol>
      </div>

    </div><!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

      <div class="col-md-6">
        <h2 class="page-header">Delta Chi's Are Involved</h2>
          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>

      <div class="col-md-6">
        <center><img class="img-responsive img-circle" src="https://scontent-b-ord.xx.fbcdn.net/hphotos-frc3/1000633_10201270595581252_1036126569_n.jpg">2012 Fall pinning</center>
      </div>

    </div><!-- /.row -->

    <!-- Service Tabs -->
<!--
    <div class="row">

      <div class="col-md-12">
        <h2 class="page-header">Major Involvement <small>what we're most proud of</small></h2>
        <ul id="myTab" class="nav nav-tabs">
          <li class="active"><a href="#service-one" data-toggle="tab">Studen Council</a></li>
          <li><a href="#service-two" data-toggle="tab">MSA</a></li>
          <li><a href="#service-six" data-toggle="tab">Jimmy V Foundation</a></li>
          <li><a href="#service-three" data-toggle="tab">Homecoming</a></li>
          <li><a href="#service-four" data-toggle="tab">Dance Marathon</a></li>
          <li><a href="#service-five" data-toggle="tab">GAMMA</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="service-one">
            <i class="icon-gear pull-left icon-4x"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
            <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
          </div>
          <div class="tab-pane fade" id="service-two">
            <i class="icon-gears pull-left icon-4x"></i>
            <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
            <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
          </div>
          <div class="tab-pane fade" id="service-six">
            <i class="icon-gears pull-left icon-4x"></i>
            <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
            <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
          </div>
          <div class="tab-pane fade" id="service-three">
            <i class="icon-magic pull-left icon-4x"></i>
            <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
          </div>
          <div class="tab-pane fade" id="service-four">
            <i class="icon-beaker pull-left icon-4x"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
            <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
          </div>
          <div class="tab-pane fade" id="service-five">
            <i class="icon-flag pull-left icon-4x"></i>
            <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
            <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
          </div>
        </div>
      </div>
    </div><!-->

    <div class="row">

      <div class="col-md-12">
        <h2 class="page-header">What We're Involved With</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="http://2.bp.blogspot.com/-n_NMRpQu444/Tr0S3cSqi5I/AAAAAAAAFtc/UYP-ehiUrQo/s1600/test_pattern.gif">
        <h3>Pre-Med Club</h3>
        <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim.</p>
        <div class="label label-info" data-action="popover" data-original-title="List of Members" data-content="Drew Wetherington, Bill Clinton, and George Bush">List of Members</div>
        <a class="pull-right" href="http://medicine.missouri.edu/admissions/premed.html">Link <i class="glyphicon glyphicon-share-alt"></i></a>
      </div>
      <div class="col-md-3">
        <img class="img-responsive grid-block" src="http://2.bp.blogspot.com/-n_NMRpQu444/Tr0S3cSqi5I/AAAAAAAAFtc/UYP-ehiUrQo/s1600/test_pattern.gif">
        <h3>MSA</h3>
        <p>Service one description. Lorem ipsum dolor sit e platea dictumst.</p>
        <div class="label label-info" data-action="popover" data-original-title="List of Members" data-content="Drew Wetherington, Bill Clinton, and George Bush">Delta Chi's in MSA</div>
        <a class="pull-right" href="http://medicine.missouri.edu/admissions/premed.html">Link <i class="glyphicon glyphicon-share-alt"></i></a>
      </div>
      <div class="col-md-3">
        <img class="img-responsive grid-block" src="http://2.bp.blogspot.com/-n_NMRpQu444/Tr0S3cSqi5I/AAAAAAAAFtc/UYP-ehiUrQo/s1600/test_pattern.gif">
        <h3>Business Club</h3>
        <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
        <div class="label label-info" data-action="popover" data-original-title="List of Members" data-content="Drew Wetherington, Bill Clinton, and George Bush">List of Members</div>
        <a class="pull-right" href="http://medicine.missouri.edu/admissions/premed.html">Link <i class="glyphicon glyphicon-share-alt"></i></a>
      </div>
      <div class="col-md-3">
        <img class="img-responsive" src="http://2.bp.blogspot.com/-n_NMRpQu444/Tr0S3cSqi5I/AAAAAAAAFtc/UYP-ehiUrQo/s1600/test_pattern.gif">
        <h3>GAMMA</h3>
        <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
        <div class="label label-info" data-action="popover" data-original-title="List of Members" data-content="Drew Wetherington, Bill Clinton, and George Bush">List of Members</div>
        <a class="pull-right" href="http://medicine.missouri.edu/admissions/premed.html">Link <i class="glyphicon glyphicon-share-alt"></i></a>        
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="http://2.bp.blogspot.com/-n_NMRpQu444/Tr0S3cSqi5I/AAAAAAAAFtc/UYP-ehiUrQo/s1600/test_pattern.gif">
        <h3>ACM</h3>
        <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
        <div class="label label-info" data-action="popover" data-original-title="List of Members" data-content="Drew Wetherington, Bill Clinton, and George Bush">List of Members</div>
        <a class="pull-right" href="http://medicine.missouri.edu/admissions/premed.html">Link <i class="glyphicon glyphicon-share-alt"></i></a>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/modern-business.js"></script>

<script type="text/javascript">
$('#involvement').popover({selector: "div[data-action=popover]", trigger: "hover", html: false, container: "body"})
$('#involvement').tooltip({selector: "div[data-action=tooltip]"})
</script>