<!-- Page Content -->
  <div class="container" id="involvement">
    
    <div class="row">
    
      <div class="col-md-12">
        <h1 class="page-header">Involvement <small>What We Do</small></h1>
        <ol class="breadcrumb">
          <li><a href=".">Home</a></li>
          <li class="active">Involvement</li>
        </ol>
      </div>

    </div><!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

      <div class="col-md-6">
        <h2 class="page-header">Delta Chi's Are Involved</h2>
          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>

      <div class="col-md-6">
        <center><img class="img-responsive img-circle" src="https://scontent-b-ord.xx.fbcdn.net/hphotos-frc3/1000633_10201270595581252_1036126569_n.jpg">2012 Fall pinning</center>
      </div>

    </div><!-- /.row -->

    <div class="row">

      <div class="col-md-12">
        <h2 class="page-header">What We're Involved With</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="http://2.bp.blogspot.com/-n_NMRpQu444/Tr0S3cSqi5I/AAAAAAAAFtc/UYP-ehiUrQo/s1600/test_pattern.gif">
        <h3>Pre-Med Club</h3>
        <p>AWESOME AWESOME AWESOME AWESOME AWESOME AWESOME AWESOME AWESOME AWESOME AWESOME AWESOME AWESOME </p>
        <div class="label label-info" data-action="popover" data-original-title="List of Members" data-content="Drew Wetherington, Bill Clinton, and George Bush">List of Members</div>
        <a class="pull-right" href="http://medicine.missouri.edu/admissions/premed.html">Link <i class="glyphicon glyphicon-share-alt"></i></a>
      </div>
      <div class="col-md-3">
        <img class="img-responsive grid-block" src="http://2.bp.blogspot.com/-n_NMRpQu444/Tr0S3cSqi5I/AAAAAAAAFtc/UYP-ehiUrQo/s1600/test_pattern.gif">
        <h3>MSA</h3>
        <p>Service one description. Lorem ipsum dolor sit e platea dictumst.</p>
        <div class="label label-info" data-action="popover" data-original-title="List of Members" data-content="Drew Wetherington, Bill Clinton, and George Bush">Delta Chi's in MSA</div>
        <a class="pull-right" href="http://medicine.missouri.edu/admissions/premed.html">Link <i class="glyphicon glyphicon-share-alt"></i></a>
      </div>
      <div class="col-md-3">
        <img class="img-responsive grid-block" src="http://2.bp.blogspot.com/-n_NMRpQu444/Tr0S3cSqi5I/AAAAAAAAFtc/UYP-ehiUrQo/s1600/test_pattern.gif">
        <h3>Business Club</h3>
        <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
        <div class="label label-info" data-action="popover" data-original-title="List of Members" data-content="Drew Wetherington, Bill Clinton, and George Bush">List of Members</div>
        <a class="pull-right" href="http://medicine.missouri.edu/admissions/premed.html">Link <i class="glyphicon glyphicon-share-alt"></i></a>
      </div>
      <div class="col-md-3">
        <img class="img-responsive" src="http://2.bp.blogspot.com/-n_NMRpQu444/Tr0S3cSqi5I/AAAAAAAAFtc/UYP-ehiUrQo/s1600/test_pattern.gif">
        <h3>GAMMA</h3>
        <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
        <div class="label label-info" data-action="popover" data-original-title="List of Members" data-content="Drew Wetherington, Bill Clinton, and George Bush">List of Members</div>
        <a class="pull-right" href="http://medicine.missouri.edu/admissions/premed.html">Link <i class="glyphicon glyphicon-share-alt"></i></a>        
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="http://2.bp.blogspot.com/-n_NMRpQu444/Tr0S3cSqi5I/AAAAAAAAFtc/UYP-ehiUrQo/s1600/test_pattern.gif">
        <h3>ACM</h3>
        <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
        <div class="label label-info" data-action="popover" data-original-title="List of Members" data-content="Drew Wetherington, Bill Clinton, and George Bush">List of Members</div>
        <a class="pull-right" href="http://medicine.missouri.edu/admissions/premed.html">Link <i class="glyphicon glyphicon-share-alt"></i></a>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/modern-business.js"></script>

<script type="text/javascript">
$('#involvement').popover({selector: "div[data-action=popover]", trigger: "hover", html: false, container: "body"})
$('#involvement').tooltip({selector: "div[data-action=tooltip]"})
</script>