
    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Delta Chi Prospective Members</h1>
          <ol class="breadcrumb">
            <li><%=link_to "home", "home"%></li>
            <li class="active">Prospective Members</li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#form">Recruitment Form</a>
          </ol>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-12"> <!-- The paragraph area of the top of the page -->
          <p>
            <center><h4>Here are our recruiters. Feel free to reach out and contact them, it never hurts to introduce yourself.</h4></center>
          </p>
          <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Tristan</td>
                    <td>Welsh</td>
                    <td><a href="mailto:someone@example.com?Subject=Delta%20Chi%20Recruitment!" target="_top">Hit me up</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Chris</td>
                    <td>Fulton</td>
                    <td><a href="mailto:someone@example.com?Subject=Delta%20Chi%20Recruitment!" target="_top">Email me</a></td>
                </tr>
            </tbody>
        </table>
      </div> <!-- column 12 end -->
    </div> <!-- row div -->
  </div><!-- /.container -->

    <div class="container" id="faq">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">FAQ <small>Frequently Asked Questions</small></h1>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-12">

          <div class="panel-group" id="accordion">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Do new members have to live in the house following their initiation?
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  No one besides head members of the executive board are required to live in house. To promote comrodary and their place in the fraternity new members are encouraged to live in house.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    What about hazing?!
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  Delta Chi is a non-hazing fraternity and historically the first to abolish hell week from new members' initation ceremony. 
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    How much does this cost?
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  Each semester's dues for active members are $650. Active member's semester dues are $750 (this is mandated by Delta Chi headquarters). Although negative steoreotypes surround fraternity life involving money, we cannot participate in socials, philathropy, gifts, and traditional greek life without contributions from our members. Not to mention headquarters mandated insurance!
                </div>
              </div>
            </div>


          </div>

        </div>

      </div>

    </div><!-- /.container -->

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header" id="form">Submit Your Prospective Member Form</h1>
          <div id="wufoo-z1jlkg490ohibjj">
Fill out my <a href="https://missourideltachi.wufoo.com/forms/z1jlkg490ohibjj">online form</a>.
</div>
<script type="text/javascript">var z1jlkg490ohibjj;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'missourideltachi', 
'formHash':'z1jlkg490ohibjj', 
'autoResize':true,
'height':'1259',
'async':true,
'host':'wufoo.com',
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1jlkg490ohibjj = new WufooForm();z1jlkg490ohibjj.initialize(options);z1jlkg490ohibjj.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

        </div>
      </div>
      <p>
      <center>Thanks, we'll contact you soon.</center>  
    </p>
    </div>
    <div class="container">

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
