
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Delta Chi Prospective Members</h1>
      <ol class="breadcrumb">
        <li><%=link_to "home", "home"%></li>
        <li class="active">Prospective Members</li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#form">Recruitment Form</a>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h1>Contact Us</h1>
      <table class="table">
        <thead>
            <tr>
                <th>Recruiter Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tristan Welsch</td>
                <td>welsh@gmail.com</td>
            </tr>
            <tr>
                <td>Bryndon Minter</td>
                <td>@gmail.com</td>
            </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-12">
            <h4>Our Recruiters</h4>
            <hr>
        </div>
        <div class="col-sm-6">
          <span>
          <img src="http://www.headshotsnyc.com/wp-content/uploads/galleries/post-5/09-teenage-boy-legit-headshot.jpg" height="100%" width="100%"></img>
          <br>
          Tristan Welsch
          </span>
        </div>
        <div class="col-sm-6">
          <span>
            <img src="http://www.independent.co.uk/incoming/article8874412.ece/BINARY/original/james%2Bvincent%2Bweb%2Bheadshot.jpg" height="100%" width="100%"></img>
            <br>
            Bryndon Minter
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div id ="starholder">
        <div id="star" class="well well-lg" height="100%">
          <h2>Recruitment Video</h2>
          <iframe width="100%" height="350" src="//www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div> <!-- column 12 end -->

    </div> <!-- row div -->
  </div><!-- /.container -->

    <div class="container" id="faq">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">FAQ <small>Frequently Asked Questions</small></h1>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6">

          <div class="panel-group" id="accordion">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Do new members have to live in the house following their initiation?
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  Members will only be required to live in-house if it is not full, but it is typically near capacity so this is not an issue.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    What about hazing?
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  Delta Chi is strongly opposed to any practices that are or may appear to be hazing. The experience of Delta Chi associate members should be one of education, challenges, personal development, and excitement. Hazing in any form contradicts these goals and is a direct violation of both the Ten Basic Expectations of a Delta Chi and the oath that every member takes during his initiation.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    How much does this cost?
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  Each semester's dues for active members are $655. Active member's semester dues are $755 (this is mandated by Delta Chi headquarters). Although negative steoreotypes surround fraternity life involving money, we cannot participate in socials, philathropy, gifts, and traditional greek life without contributions from our members. Not to mention headquarters mandated insurance!
                </div>
              </div>
            </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    ?
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  Delta Chi is a non-hazing fraternity and historically the first to abolish hell week from new members' initation ceremony. 
                </div>
              </div>
            </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    What about hazing?
                  </a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                  Delta Chi is a non-hazing fraternity and historically the first to abolish hell week from new members' initation ceremony. 
                </div>
              </div>
            </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                    What about hazing?
                  </a>
                </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                  Delta Chi is a non-hazing fraternity and historically the first to abolish hell week from new members' initation ceremony. 
                </div>
              </div>
            </div>    
          </div>
        </div>
      </div>
    </div><!-- /.container -->

<div class="container">

      <div class="row">

        <div class="col-sm-6">
          <h1 class="page-header" id="form"></h1>
          <div id="wufoo-z1jlkg490ohibjj">
Fill out my <a href="https://missourideltachi.wufoo.com/forms/z1jlkg490ohibjj">online form</a>.
</div>
<script type="text/javascript">var z1jlkg490ohibjj;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'missourideltachi', 
'formHash':'z1jlkg490ohibjj', 
'autoResize':true,
'height':'1259',
'async':true,
'host':'wufoo.com',
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1jlkg490ohibjj = new WufooForm();z1jlkg490ohibjj.initialize(options);z1jlkg490ohibjj.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

        </div>
      </div>
      <p>
      <center>Thanks, we'll contact you soon.</center>  
    </p>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
