<div class="full-width-image-recruitment"></div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-8">
          <h1>Delta Chi Prospective Members</h1>
        </div>
        <div class="col-sm-4">
          <h1>
          <div class="dropdown">
            <button class="btn dropdown-toggle pull-right btn-danger" type="button" id="dropdownMenu1" data-toggle="dropdown">Recruitment Packet <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="https://drive.google.com/file/d/0B-Trfe2hL-1OdnhRQnpDYXJYOXc/edit?usp=sharing">View via Google Doc</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="http://www.scribd.com/doc/218769710/DX-Recruitment-Packet">View via Scribd</a></li>
            </ul>
          </div>
        </h1>
        </div>
      </div>

      <ol class="breadcrumb">
        <li><a href=".">Home</a></li>
        <li class="active">Prospective Members</li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#form">Interest Form</a>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h1 class="page-header">Contact Us</h1>
      <table class="table">
        <thead>
            <tr>
                <th>Recruiter Name</th>
                <th>Email</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bryndon Minter</td>
                <td><a href="mailto:MUDeltaChiRecruitment@gmail.com?Subject=Recruitment%20Inquery!" target="_top">MUDeltaChiRecruitment@gmail.com</a></td>
                <td>(913) 744-5590</td>
            </tr>
            <tr>
                <td>Brian Strohm</td>
                
                <td><a href="mailto:MUDeltaChiRecruitment@gmail.com?Subject=Recruitment%20Inquery!" target="_top">MUDeltaChiRecruitment@gmail.com</a></td>
                <td>(913) 387-9013</td>
            </tr>
        </tbody>
      </table>

      <div class="row" id="faq">

        <div class="col-sm-12">
          <h1 class="page-header">FAQ <small>Frequently Asked Questions</small></h1>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-12">

          <div class="panel-group" id="accordion">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Where is the Delta Chi house?
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  The Delta Chi house is located at 501 Turner Ave. New members are not required to live in the house, but it is encouraged to build comraderie and is a more affordable option than residential halls. We have daily house quiet hours for studying.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    How does Delta Chi perform academically?
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  Delta Chi consistently performs above the all-male university average in GPA rankings. Last semester we placed 11th out of 35 overall and 3rd out of 29 in new members. 
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    What leadership opportunities can I expect with Delta Chi?
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  Delta Chi is operated by its members. Brothers have the opportunity to become commiittee chairmen and plan events like mom's weekend, socials, and brotherhood events. Alongside internal opportunities, members are actively involved in MSA, GAMMA, Dance Marathon, ACM, Pre-med society, and just about every organization at Mizzou.
                </div>
              </div>
            </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    How much is it going to cost?
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  As a new member, your dues are $760 the first semester and will decrease to $660 upon initiation into the fraternity. A break down of dues, and new member cost difference can be found in the recruitment packet.
                </div>
              </div>
            </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    Am I going to get hazed in Delta Chi?
                  </a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                  No. Our brotherhood eliminated hazing across the board in 1929, and we have a no-tolerance policy against all forms of hazing.
                </div>
              </div>
            </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                    What do I have to do as a new member?
                  </a>
                </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                  Our new members, also called Associate Members (AMs) undergo an 8-week program meant to teach them about the the foundations of the chapter, Delta Chi brotherhood, and leadership. 
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                    My parents want me to get involved. Is Delta Chi involved on campus?
                  </a>
                </h4>
              </div>
              <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                  Delta Chi is proud to be known as one of the most involved chapters at Mizzou with the most brothers in Summer Welcome than any other organization. We are also highly involved in Tour Team, MSA, RAMS, and many other organizations.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                    Does Delta Chi participate in any philanthropic events?
                  </a>
                </h4>
              </div>
              <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                  Along side our participation in sorority philanthropies, Delta Chi is proud to support <a target="_blank" href="http://www.jimmyv.org/partners/delta-chi/">The V Foundation for Cancer Research</a>. Every spring, we hold "For the Cure Week" to raise money for this cause.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-12" id="form">
          <h1 class="page-header">Interest Form</h1>
          <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dE1kemlCeWNra1NuN3NpZjEza2VSMUE6MQ" width="100%" height="2100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
      </div>
      <p>
      <center>Thanks, we'll contact you soon.</center>  
    </p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive" src="https://farm3.staticflickr.com/2904/13550563663_17251e26e1.jpg" id="bm">
        <center><b>Bryndon Minter</b>
        <hr></center>
        <img class="img-circle img-responsive" src="https://farm8.staticflickr.com/7215/13550463525_786c90c287.jpg" id="bs">
        <center><b>Brian Strohm</b>
        <hr></center>
    </div> <!-- column 12 end -->
  </div> <!-- row div -->
</div><!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
