
    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Delta Chi Prospective Members</h1>
          <ol class="breadcrumb">
            <li><a href=".">Home</a></li>
            <li class="active">Prospective Members</li>
          </ol>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-12">
          <p>This page features a page header, breadcrumbs, and the footer but that's it. Use this as a template for completely custom pages you wish to add to your site.</p>
          <p>Be sure to read over and understand all of the Bootstrap 3 components at <a href="http://getbootstrap.com">http://getbootstrap.com</a> to get the most out of any Start Bootstrap template.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
        </div>

      </div>

    </div><!-- /.container -->

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">FAQ <small>Frequently Asked Questions</small></h1>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-12">

          <div class="panel-group" id="accordion">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Do new members have to live in the house following their initiation?
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  No one besides head members of the executive board are required to live in house. To promote comrodary and their place in the fraternity new members are encouraged to live in house.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    What about hazing?!
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  Delta Chi is a non-hazing fraternity and historically the first to abolish hell week from new members' initation ceremony. 
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    How much does this cost?
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  Each semester's dues for active members are $650. Active member's semester dues are $750 (this is mandated by Delta Chi headquarters). Although negative steoreotypes surround fraternity life involving money, we cannot participate in socials, philathropy, gifts, and traditional greek life without contributions from our members. Not to mention headquarters mandated insurance!
                </div>
              </div>
            </div>


          </div>

        </div>

      </div>

    </div><!-- /.container -->

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Submit Your Prospective Member Form</h1>
          <p>Here is where the form stuff will go
          </p>
        </div>
      </div>
    </div>
    <div class="container">

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>
