<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-8">
          <h1>Delta Chi Alumni <small>Welcome Home</small></h1>
        </div>
        <div class="col-sm-4">
          <h3>
          <div class="dropdown">
            <button class="btn dropdown-toggle pull-right btn-danger" type="button" id="dropdownMenu1" data-toggle="dropdown">Newsletters <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="http://issuu.com/drewwetherington/docs/wetherington_resume_jan21_2?e=10877032/6781549">Spring 2014</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fall 2013</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Spring 2013</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fall 2012</a></li>
            </ul>
          </div>
        </h3>
        </div>
      </div>
      <ol class="breadcrumb" id="letter">
        <li><a href=".">Home</a></li>
        <li class="active">Alumni Home</li>
        <li><a href="#letter">Welcome Letter</a></li>
      </ol>
    </div>
  </div>
  <div class="col-sm-8">
    <h3>Message From The Webmaster</h3>
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <img src="http://www.wired.com/images_blogs/threatlevel/2012/03/unclesam.jpeg" height="100%" width="100%"></img>
      </div>
      <div class="col-sm-8">
        Put text here
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="well well-sm">
        <div id="wufoo-qsieal904pybhk">
          Fill out my <a href="https://missourideltachi.wufoo.com/forms/qsieal904pybhk">online form</a>.
        </div>
      </div><!-- /well -->
    </div>
    <div class="row">
      <div class="well">
        <h4>Make A Donation<small> Every bit counts</small></h4>
        <p>Anything you contribute helps us towards fullfilling our goals and supporting our cause. If you would like to become a donator we have two types of donation routes.
        </p>
        <center><div class="input-group">
          <a href="donations.html"><button class="btn btn-large btn-danger" type="button">Donate Today</button></a>
        </div></center><!-- /input-group -->
      </div><!-- /well -->
    </div>
  </div>
</div><!-- /.container -->
<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/modern-business.js"></script>


<script type="text/javascript">var qsieal904pybhk;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'missourideltachi', 
          'formHash':'qsieal904pybhk', 
          'autoResize':true,
          'height':'468',
          'async':true,
          'host':'wufoo.com',
          'header':'show', 
          'ssl':true};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { qsieal904pybhk = new WufooForm();qsieal904pybhk.initialize(options);qsieal904pybhk.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');</script>