<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-8">
          <h1>Delta Chi Alumni <small>Welcome Home</small></h1>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <ol class="breadcrumb" id="letter">
        <li><a href=".">Home</a></li>
        <li class="active">Alumni Home</li>
        <li><a href="#letter">Welcome Letter</a></li>
      </ol>
    </div>
  </div>
  <div class="col-sm-8">
    
    <div class="row">
      <div class="col-sm-12">
         <h2>Recent Honors and Awards</h2><hr>

       <h4>Delta Chi International Honors & Awards:</h4>
       
    <ul>
      <li>Outstanding Chapter Recruitment – Delta Chi Region IV
2009, 2010, 2011, 2012, 2013
      <li>Award of Excellence, Red Division (2011-2012)
    </ul>

      <h4>Campus Awards:</h4>
      Rockin’ Against Multiple Sclerosis: 
      <ul>
        <li>1st Overall (2nd Rock-It Competition) – 2014
        <li>3rd Overall (2nd Rock-It Competition) – 2013
      </ul>
      
      <p>GAMMA: 2nd Place Overall – 2013</p>

      <p>Mizzou Dance Marathon – Miracle Cup Winner – 2014</p>

      <p>IFC Chapter of Excellence Award – 2013</p>
      <p>Overall IFC Excellence Award</p>

      Kappa Alpha Theta’s “Quarterbacks & Flapjacks” Philanthropy 
      <ul>
        <li>1st Place – 2012
        <li>1st Place – 2013
      </ul>

      Alpha Chi Omega’s “Dodgin’ Domestic Violence” Philanthropy 
      <ul>
        <li>1st Place – 2013 
      </ul>

      Pi Beta Pi’s “Big Man on Court” Philanthropy
      <ul>
        <li>1st Place – 2013
      </ul>

      Kappa Delta’s “Shamrock Week”
      <ul>
        <li>1st Place – 2014
      </ul>
      
      Homecoming 
      <ul>
        <li>1st Place Overall – 2009 
        <li>3rd Place Overall – 2010
      </ul>

      Greek Week
        <ul>
          <li>4th Place Overall – 2012
          <li>GW Volleyball Champions – 2014
          <li>GW Soccer 2nd Place – 2014
        </ul>

    Catalyst Award, given to advocates and allies of the LGBTQ Community
    <ul>
      <li>2011 Recipient 
      </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="well well-sm">
        <div id="wufoo-qsieal904pybhk">
          Fill out my <a href="https://missourideltachi.wufoo.com/forms/qsieal904pybhk">online form</a>.
        </div>
      </div><!-- /well -->
    </div>
    <div class="row">
      <div class="well">
        <h4>Make A Donation<small> Every bit counts</small></h4>
        <p>Anything you contribute helps us towards fullfilling our goals and supporting our cause. If you would like to become a donator we have two types of donation routes.
        </p>
        <center><div class="input-group">
          <a href="donations.html"><button class="btn btn-large btn-danger" type="button">Donate Today</button></a>
        </div></center><!-- /input-group -->
      </div><!-- /well -->
    </div>
  </div>
</div><!-- /.container -->
<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/modern-business.js"></script>


<script type="text/javascript">var qsieal904pybhk;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'missourideltachi', 
          'formHash':'qsieal904pybhk', 
          'autoResize':true,
          'height':'468',
          'async':true,
          'host':'wufoo.com',
          'header':'show', 
          'ssl':true};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { qsieal904pybhk = new WufooForm();qsieal904pybhk.initialize(options);qsieal904pybhk.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');</script>