<div class="container" id="top">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header" id="top">Meet The Actives</h1>
      <ol class="breadcrumb">
        <li><a href=".">Home</a></li>
        <li class="active">Meet Us</li>
      </ol>
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-sm-12" id="main-area">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#exec" data-toggle="tab">Executives</a></li>
        <li><a href="#com" data-toggle="tab">Committee Heads</a></li>
        <li><a href="#all" data-toggle="tab">All Members</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="exec">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm8.staticflickr.com/7459/13550783424_4c45e7cb86.jpg">
                    <center><h3>Jake Meyers<br><small>President <span class="label label-danger">A</span><br></small></h3></center>
                  </div>
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm8.staticflickr.com/7431/13550564683_d0a08f7d2b.jpg">
                    <center><h3>Tyler Gill<br><small>Vice President <span class="label label-danger">B</span></small></h3></center>
                  </div>
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm3.staticflickr.com/2915/13908479753_00a58c7c38.jpg">
                    <center><h3>Connor Bjornnes<br><small>Secretary <span class="label label-danger">C</span></small></h3></center>
                  </div>
                </div>      
                <div class="row">
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm4.staticflickr.com/3724/13550564823_a69ca4cc5a.jpg">
                    <center><h3>Zach Hadler<br><small>Treasurer <span class="label label-danger">D</span></small></h3></center>
                  </div>
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm4.staticflickr.com/3680/13550565133_2c6c52b979.jpg">
                    <center><h3>Gian Wessel<br><small>Alumni <span class="label label-danger">E</span></small></h3></center>
                  </div>
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm3.staticflickr.com/2891/13550463625_906d00e93f.jpg">
                    <center><h3>Calvin Rankin<br><small>Risk Manager <span class="label label-danger">F</span></small></h3></center>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- end of exec -->
          <div class="tab-pane fade" id="com">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-4">
                    <img class="img-responsive" src="">
                    <center><h4>Austin Lewis<br><small>Merchandise</small></h4></center>
                  </div>

                  <div class="col-sm-4">
                    <img class="img-responsive" src="">
                    <center><h4>Andrew Carnahan<br><small>Brotherhood</small></h4></center>
                  </div>

                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm8.staticflickr.com/7164/13550565473_086bd023e8.jpg">
                    <center><h4>Eric Jackson<br><small>Sports</small></h4></center>
                  </div>                
                </div>
                <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm8.staticflickr.com/7215/13550463525_786c90c287.jpg">
                    <center><h4>Brian Strom<br><small>Ritual</small></h4></center>
                  </div> 
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm4.staticflickr.com/3767/13550781704_6110ebb4e7.jpg">
                    <center><h4>Danny Renner<br><small>Service</small></h4></center>
                  </div>
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm8.staticflickr.com/7310/13550783214_99bd03e43c.jpg">
                    <center><h4>Cole Lawson<br><small>Internal Philanthropy</small></h4></center>
                  </div>              
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <img class="img-responsive" src="">
                    <center><h4>Brock Scoville<br><small>External Philanthropy</small></h4></center>
                  </div>
                  <div class="col-sm-4">
                    <img class="img-responsive" src="https://farm8.staticflickr.com/7021/13550464085_85e59b5a43.jpg">
                   <center><h4>Adam Joyce<br><small>Academics</small></h4></center>
                  </div>

                </div>
              </div>
            </div>
          </div> <!-- end of committee -->
          <div class="tab-pane fade" id="all">
            <div class="row">
              <div class="col-sm-8">
                <table class="table table-striped table-condensed">
                  <tbody>
                    <th colspan="2" id="alphas">Alphas &middot <a href="#top">Top <div class="glyphicon glyphicon-arrow-up"></div></a></th>
                      <tr><td>Austin Stake</td><td>Alpha</td></tr>
                      <tr><td>Chris Slevin</td><td>Alpha</td></tr>
                      <tr><td>Ethan Colbert</td><td>Alpha</td></tr>
                      <tr><td>Jacob Klinghammer</td><td>Alpha</td></tr>
                      <tr><td>Maximilian Conger</td><td>Alpha</td></tr>
                      <tr><td>Skylar Morris</td><td>Alpha</td></tr>
                      <tr><td>Zachary Legenzoff</td><td>Alpha</td></tr>
                      <tr><td>Alexandre Dyer</td><td>Alpha</td></tr>
                    <th colspan="2" id="ba">Beta Alpha &middot <a href="#top">Top <div class="glyphicon glyphicon-arrow-up"></div></a></th>
                      <tr><td>Adam Minter</td><td>Beta Alpha</td></tr>
                      <tr><td>Corey Robertson</td><td>Beta Alpha</td></tr>
                      <tr><td>Jake Miller</td><td>Beta Alpha</td></tr>
                      <tr><td>Nathaniel Reed</td><td>Beta Alpha</td></tr>
                      <tr><td>Ryan McLaughlin</td><td>Beta Alpha</td></tr>
                      <tr><td>Travis Cobb</td><td>Beta Alpha</td></tr>
                    <th colspan="2" id="bb">Beta Beta &middot <a href="#top">Top <div class="glyphicon glyphicon-arrow-up"></div></a></th>
                      <tr><td>Brock Scoville</td><td>Beta Beta</td></tr>
                      <tr><td>Bryndon Minter</td><td>Beta Beta</td></tr>
                      <tr><td>Christopher Fulton</td><td>Beta Beta</td></tr>
                      <tr><td>Jacob Wascisin</td><td>Beta Beta</td></tr>
                      <tr><td>Javier De La Tore</td><td>Beta Beta</td></tr>
                      <tr><td>Luke Bicklein</td><td>Beta Beta</td></tr>
                      <tr><td>Tyler Gill</td><td>Beta Beta</td></tr>
                    <th colspan="2" id="bg">Beta Gamma &middot <a href="#top">Top <div class="glyphicon glyphicon-arrow-up"></div></a></th>
                      <tr><td>Austin Lewis</td><td>Beta Gamma</td></tr>
                      <tr><td>Brendan Vogel</td><td>Beta Gamma</td></tr>
                      <tr><td>Chris Shafer</td><td>Beta Gamma</td></tr>
                      <tr><td>Cody Crutchfield</td><td>Beta Gamma</td></tr>
                      <tr><td>Elijah King</td><td>Beta Gamma</td></tr>
                      <tr><td>Gian Wessel</td><td>Beta Gamma</td></tr>
                      <tr><td>Gunnar Johanson</td><td>Beta Gamma</td></tr>
                      <tr><td>Jake Myers</td><td>Beta Gamma</td></tr>
                      <tr><td>James Endres</td><td>Beta Gamma</td></tr>
                      <tr><td>Kevin Lundstrom</td><td>Beta Gamma</td></tr>
                      <tr><td>Nicholas Lazechko</td><td>Beta Gamma</td></tr>
                      <tr><td>Tristan Welsh</td><td>Beta Gamma</td></tr>
                    <th colspan="2" id="bd">Beta Delta &middot <a href="#top">Top <div class="glyphicon glyphicon-arrow-up"></div></a></th>
                      <tr><td>Adam Joyce</td><td>Beta Delta</td></tr>
                      <tr><td>Andrew Odle</td><td>Beta Delta</td></tr>
                      <tr><td>Andrew Scherping</td><td>Beta Delta</td></tr>
                      <tr><td>Andrew Wetherington</td><td>Beta Delta</td></tr>
                      <tr><td>Brett Erwin</td><td>Beta Delta</td></tr>
                      <tr><td>Connor Bjornnes</td><td>Beta Delta</td></tr>
                      <tr><td>Dustin Mann</td><td>Beta Delta</td></tr>
                      <tr><td>Eric Jackson</td><td>Beta Delta</td></tr>
                      <tr><td>Gerald Richardson</td><td>Beta Delta</td></tr>
                      <tr><td>Jayme Becker</td><td>Beta Delta</td></tr>
                      <tr><td>John Struttmann</td><td>Beta Delta</td></tr>
                      <tr><td>Mark Collins</td><td>Beta Delta</td></tr>
                      <tr><td>Matthew Laskowitz</td><td>Beta Delta</td></tr>
                      <tr><td>Matthew Noble</td><td>Beta Delta</td></tr>
                      <tr><td>Patrick Remis</td><td>Beta Delta</td></tr>
                      <tr><td>Paul Rothermich</td><td>Beta Delta</td></tr>
                      <tr><td>Peter Myers</td><td>Beta Delta</td></tr>
                      <tr><td>Timothy Nwachukwu</td><td>Beta Delta</td></tr>
                      <tr><td>Tyler Sutphen</td><td>Beta Delta</td></tr>
                      <tr><td>William Lawson</td><td>Beta Delta</td></tr>
                    <th colspan="2" id="be">Beta Epsilon &middot <a href="#top">Top <div class="glyphicon glyphicon-arrow-up"></div></a></th>
                      <tr><td>Adam Greer</td><td>Beta Epsilon</td></tr>
                      <tr><td>Anurag Chandran</td><td>Beta Epsilon</td></tr>
                      <tr><td>Bailey Reed</td><td>Beta Epsilon</td></tr>
                      <tr><td>Blake Hill</td><td>Beta Epsilon</td></tr>
                      <tr><td>Brian Lock</td><td>Beta Epsilon</td></tr>
                      <tr><td>Brian Reamer</td><td>Beta Epsilon</td></tr>
                      <tr><td>Brian Strohm</td><td>Beta Epsilon</td></tr>
                      <tr><td>Cal Rankin</td><td>Beta Epsilon</td></tr>
                      <tr><td>Dan Jacob</td><td>Beta Epsilon</td></tr>
                      <tr><td>Daniel Moser</td><td>Beta Epsilon</td></tr>
                      <tr><td>Danny Renner</td><td>Beta Epsilon</td></tr>
                      <tr><td>Darren Monchusie</td><td>Beta Epsilon</td></tr>
                      <tr><td>Derek Dallas</td><td>Beta Epsilon</td></tr>
                      <tr><td>Ethan Scherer</td><td>Beta Epsilon</td></tr>
                      <tr><td>Haden Gomez</td><td>Beta Epsilon</td></tr>
                      <tr><td>Jack Summa</td><td>Beta Epsilon</td></tr>
                      <tr><td>Jordan Berger</td><td>Beta Epsilon</td></tr>
                      <tr><td>Justin Cowan</td><td>Beta Epsilon</td></tr>
                      <tr><td>Mason Stierwalt</td><td>Beta Epsilon</td></tr>
                      <tr><td>Michael McFarland</td><td>Beta Epsilon</td></tr>
                      <tr><td>Nate Seward</td><td>Beta Epsilon</td></tr>
                      <tr><td>Nick Koors</td><td>Beta Epsilon</td></tr>
                      <tr><td>Nick Seidel</td><td>Beta Epsilon</td></tr>
                      <tr><td>Pat Omastiak</td><td>Beta Epsilon</td></tr>
                      <tr><td>Preston Dynes</td><td>Beta Epsilon</td></tr>
                      <tr><td>Ryan Ebert</td><td>Beta Epsilon</td></tr>
                      <tr><td>Tony Darling</td><td>Beta Epsilon</td></tr>
                      <tr><td>Trey Simms</td><td>Beta Epsilon</td></tr>
                      <tr><td>Zach Cowart</td><td>Beta Epsilon</td></tr>
                    <th colspan="2" id="bz">Beta Zeta &middot <a href="#top">Top <div class="glyphicon glyphicon-arrow-up"></div></a></th>
                      <tr><td>Adam Fritz</td><td>Beta Zeta</td></tr>
                      <tr><td>Anel Ganic</td><td>Beta Zeta</td></tr>
                      <tr><td>Austin Fry</td><td>Beta Zeta</td></tr>
                      <tr><td>Austin Otey</td><td>Beta Zeta</td></tr>
                      <tr><td>Blake Scoville</td><td>Beta Zeta</td></tr>
                      <tr><td>Brad Schreckenberg</td><td>Beta Zeta</td></tr>
                      <tr><td>Cameron Williamson</td><td>Beta Zeta</td></tr>
                      <tr><td>Danny Ritchason</td><td>Beta Zeta</td></tr>
                      <tr><td>Drew Boursheski</td><td>Beta Zeta</td></tr>
                      <tr><td>Grant O'Donnell</td><td>Beta Zeta</td></tr>
                      <tr><td>Matt Cruse</td><td>Beta Zeta</td></tr>
                      <tr><td>Michael Frieseke</td><td>Beta Zeta</td></tr>
                      <tr><td>Nathaniel Blake</td><td>Beta Zeta</td></tr>
                      <tr><td>Patrick Graham</td><td>Beta Zeta</td></tr>
                      <tr><td>Paul Jasso</td><td>Beta Zeta</td></tr>
                      <tr><td>Quinton Collins</td><td>Beta Zeta</td></tr>
                      <tr><td>Robbie Clark</td><td>Beta Zeta</td></tr>
                      <tr><td>Ryan Ingram</td><td>Beta Zeta</td></tr>
                      <tr><td>Stuart Belcke</td><td>Beta Zeta</td></tr>
                      <tr><td>Tyler Romaker</td><td>Beta Zeta</td></tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-4">
                  <div class="navbar-example">
                    <ul class="nav nav-pills nav-stacked fixed">
                      <li><a href="#alphas">Alphas</a></li>
                      <li><a href="#ba">Beta Alpha</a></li>
                      <li><a href="#bb">Beta Beta</a></li>
                      <li><a href="#bg">Beta Gamma</a></li>
                      <li><a href="#bd">Beta Delta</a></li>
                      <li><a href="#be">Beta Epsilon</a></li>
                      <li><a href="#bz">Beta Zeta</a></li>
                    </ul>
                  </div>
              </div>
          </div> <!-- end of all tab -->
        </div>
      </div>
    </div>
  </div><!-- row -->
  <hr>
</div><!-- /.container -->

<script>
  $('body').scrollspy({ target: '.navbar-example' })
})
</script>

<script>
$(document).ready(function() {  
 // check where the shoppingcart-div is  
 var offset = $("#comment").offset().top;  

 $(window).scroll(function () {  
   var scrollTop = $("#comment").scrollTop(); // check the visible top of the browser  


   if (scrollTop>50) {alert($("").scrollTop()+" px");
    $("#comment").addClass('fixed');  }
   else $("#comment").removeClass('fixed');  
  });  
}); 
</script>
<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/modern-business.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">


