<div class="container">
  <div class="row">
    <h1 class="page-header">Meet The Actives</h1>
    <ol class="breadcrumb">
      <li><a href=".">Home</a></li>
      <li class="active">Meet Us</li>
    </ol>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8" id="main-area">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#actives" data-toggle="tab">Actives</a></li>
        <li><a href="#associate-members" data-toggle="tab">Associate Members</a></li>
        <li><a href="#search" data-toggle="tab">Search</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="actives">
          <div class="row">
            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Timmy</center></div>
            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Time</center></div>
            <!-- Optional: clear the XS cols if their content doesn't match in height -->
            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Timm</center></div>
            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Tim</center></div>

            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Tim</center></div>
            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Tim</center></div>
            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Tim</center></div>
            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Tim</center></div>

            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Tim</center></div>
            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Tim</center></div>
            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Tim</center></div>
          </div>
        </div> <!-- end of actives-->
        <div class="tab-pane fade" id="associate-members">
          <div class="row">
            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Tim</center>
            </div>
            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Timme</center>
            </div>
            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Timmie</center>
            </div>
            <div class="col-xs-6 col-sm-3"><center><img class="img-responsive" src="http://missourideltachi.com/resources/head.png">Timothey</center>
            </div>                  
          </div>
        </div> <!-- end of actives-->
        <div class="tab-pane fade" id="search">
          Use the search column to search for members!
        </div> 
      </div>
      <div class="row text-center">
        <div class="col-lg-12">
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>        
        </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
      <div class="well">
        <h4>Search For Members</h4>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Feature coming soon!">
          <span class="input-group-btn">
            <button class="btn btn-default" disabled="disabled" type="button">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /well -->
      <div class="well">
        <h4>Search By Class</h4>
        <p>
          <ul>
          <li><a href="#">Beta Epsilon</a> (Associate Members)
          <li><a href="#">Beta Delta</a>
          <li><a href="#">Beta Gamma</a>
          <li><a href="#">Beta Beta</a>
          <li><a href="#">Beta Alpha</a>
          <li><a href="#">Alpha Omega</a>
          <li><a href="#">Alpha Psi</a> 
          <li><a href="#">Alpha Chi</a> (Most senior active)
          <li><a href="#">Alpha Phi</a>
          </ul> 
        </p>
      </div><!-- /well -->
    </div>
  </div>
</div><!-- /.container -->
</div><!-- /.container -->
<div class="container">

  <hr>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/modern-business.js"></script>
